[root]
coco.local ansible_host=192.168.1.1

[ns]
kleo ansible_host=192.168.1.2

[mon]
millie ansible_host=192.168.1.16 

[rpios:children]
ns
mon

[all:vars]
ansible_user=admin # Assuming all hosts have the same user
